@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

.backgroundimage{
    background-image: url('../images/headerbackground.jpg');
    height: 33vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -350px;
}
header figure{
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
}
header figure img{
    width: 100%;
}
nav{
    background-color: var(--c-lightbrown);
}
nav ul{
    width: 70%;
    margin: 0 auto;
}
nav ul li{
	display: inline-block;
	width: 18%;
	text-align: center;
	padding: 1% 0;
}
nav ul li a{
	text-decoration: none;
	color: var(--c-brown);
}
main section figure{
    width: 30%;
}
main section figure img{
    width: 100%;
}



.footerbackground{
    height: 10vh;
}
