.sg-title {
    font-size: 1.7rem;
    font-weight: 400;
    color: #333;
    margin: 1rem 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.sg-subtitle {
    font-size: 1rem;
    border-bottom: solid 1px #aaa;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    margin: 2rem 0 .5rem 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.sg-subtitle p{
    font-family: var(--t-primary);
}
.container .sg-subtitle h1{
    font-family: var(--t-secondary);
}
#color1{
    color: var(--c-primary);
}
#color2{
    color: var(--c-lightestblue);
}
#color3{
    color: var(--c-lightblue);
}
#color4{
    color: var(--c-brown);
}
#color5{
    color: var(--c-lightbrown);
}