
:root {
  /**
   * Colour palette
   */
  --c-primary: hsl(196, 34%, 46%);
  --c-lightestblue: hsl(197, 100%, 95%);
  --c-lightblue: hsl(196, 100%, 90%);
  --c-brown: hsl(31, 32%, 56%);
  --c-lightbrown: hsl(31, 100%, 90%);

  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: 'Segoe UI', Tahoma, Verdana, sans-serif;
  --t-secondary: 'Bree Serif', serif;
  --t-tertiary: monospace;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-code: var(--t-tertiary);
}


